body {
  font-family: "Comic Neue", cursive;
}
.material-symbols-outlined {
  font-variation-settings:
    "FILL" 0,
    "wght" 400,
    "GRAD" 0,
    "opsz" 24;
}
/* Custom Neo-Brutalist Shadow */
.neo-shadow {
  box-shadow: 4px 4px 0px 0px rgba(0, 0, 0, 1);
}
.neo-shadow-lg {
  box-shadow: 8px 8px 0px 0px rgba(0, 0, 0, 1);
}
.active-press:active {
  transform: translate(2px, 2px);
  box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 1);
}